@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Snowboard Shop </h1>
    <hr />
    <h3>Welcome</h3>
    <p>Snowboard Shop is a project created by <a href="https://be.linkedin.com/in/charlie-quetstroey-2b7b81b4">Charlie Quetstroey </a> & <a href="https://fr.linkedin.com/in/florian-malapel-7282737a"> Florian Malapel</a> during their 2nd Master E-Service.</p>
    <p>The purpose of this website allow all user to find the snowboard they need for their vacation.</p>
    <p>The admin can Add Edit & Delete Boards.</p>
    <p>The user can List & Chose a board for his shopping cart</p>
</div>
